!!!
%html
  %head
    %title Now Playing, by DJ Johnny Q
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :meta
  %body
    #content
      = yield
